@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

//fonts

$font-family-base: 'Roboto';
$font-weight-title: 500;
$font-weight-text: 300;

//colors

$beige: rgb(241, 223, 223);
$brown: #412;
$light-beige: #EAE7DD;
$light-brown: #99775C;
